<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/nav.js' %}"></script>
    <style>
      .transition {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
      }
    </style>
  </head>
  <body>
    {% include "nav.html" %}
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>